
.create-invoice {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;


  h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  p-floatlabel {
    margin-bottom: 15px;
    width: 100%;

    input, p-inputNumber, p-select {
      width: 100%;
      padding: 10px;
      border: 1px solid;
      border-radius: 5px;
      font-size: 1rem;
    }

    label {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  fieldset.p-fieldset {
    border-radius: 8px;
    padding: 20px;
    border: 1px solid;

    legend {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .p-fluid {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .p-field {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-weight: bold;
        font-size: 1rem;
      }

      p-select, p-inputNumber {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }

  p-button {
    margin-top: 20px;
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      transform: translateY(-3px);
    }

    &:focus {
      outline: none;
    }
  }

}
