@import "primeicons/primeicons.css";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

.light-theme {
  background-color: darkseagreen;
  color: black;
}
