body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}


.paginator-container {
  text-align: center;
  padding: 10px;
  background: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


p-button {
  display: inline-block;
  margin: 10px 0;

  .p-button {
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #749736;

    &:hover {
      transform: translateY(-3px);
    }

    &:focus {
      outline: none;
    }
  }
}


app-customer-card {
  width: calc(33.33% - 20px);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  .card-title {
    text-align: center;
    font-weight: bold;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .customer-card-header {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .customer-card-description {
    margin-top: 10px;
    font-size: 1rem;
  }

  .customer-card-footer {
    margin-top: 20px;
    text-align: right;
  }
}
