.p-button-primary {
  background-color: #1b70c3;
  border-color: #115eaa;
}

.p-button-danger{
  background-color: #ca3737;
  border-color: #652020;
}

.p-button-danger-1{
  background-color: #973c3c;
  border-color: #682828;
}

.p-button-warning{
  background-color: darkolivegreen;
  border-color: #3c4a22;
}
.all-card {
  text-align: center;
  font-weight: bold;
}
.button-display{
  text-align: center;
  font-weight: bold;

}
